/*--------------------------------------------------------------
  07. Slider
----------------------------------------------------------------*/

.cs_slider {
  position: relative;
  z-index: 1;
}

.slick-arrow {
  cursor: pointer;
}

.draggable {
  cursor: url(../img/drag.png) 16 9, ew-resize !important;
}

.slick-slide>div {
  display: flex;
  flex-direction: column;
}

.cs_remove_overflow {
  .slick-list {
    overflow: visible;
  }

  .slick-slide {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
  }
}

.cs_slider_gap_24 {
  .slick-slide {
    padding-left: 12px;
    padding-right: 12px;
  }

  .slick-list {
    margin-left: -12px;
    margin-right: -12px;
  }
}

.cs_slider_gap_30 {
  .slick-slide {
    padding-left: 15px;
    padding-right: 15px;
  }

  .slick-list {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.slick-active {
  .cs_testimonial.cs_style_2 {
    .cs_avatar.cs_style_1 {
      transform: translateY(0);
      opacity: 1;
    }

    .cs_quote_icon {
      opacity: 1;
      transform: translateX(-20px) scale(1);
    }
  }
}

/*---------------------------------------
 Infinite scrolling slider
-----------------------------------------*/
.cs_brands_slider {
  .container {
    max-width: 1453px;
  }
}

.cs_horizontal_slider_wrapper {
  margin: 0 auto;
  overflow: hidden;

  .cs_slider_in {
    min-width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
  }

  .cs_brands_list {
    min-width: 100%;
    flex: none;
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 0 50px;
    animation: slider-left 30s linear infinite;
  }

  &:hover {

    .cs_brands_list {
      animation-play-state: paused;
    }
  }

  &.cs_type_1 {
    padding: 30px 40px;

    .cs_brands_list {
      gap: 35px;
      margin: 0 18px;

      >div {
        display: flex;
        align-items: center;
        gap: 35px;
      }
    }
  }
}

/*--------------------------------------
 Arrows
-----------------------------------------*/
.cs_slider_arrows.cs_style_1 {
  position: absolute;
  right: 60px;
  bottom: 72px;

  &.cs_type_1 {
    display: flex;
    align-items: center;
    gap: 10px;
    position: initial;

    .slick-arrow {
      &:hover {
        background: linear-gradient(245deg, #D324A8 -67.04%, #551DFF 129.05%);
      }
    }
  }

  .slick-arrow {
    width: 56px;
    height: 56px;
    filter: drop-shadow(0px 4px 20px rgba(7, 36, 95, 0.10));
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--theme-color-2);
      color: var(--white-color);
    }
  }
}

/*--------------------------------------
 Pagination
-----------------------------------------*/
.cs_pagination.cs_style_1 {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 60px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }

  li {
    height: 12px;
    width: 12px;
    border-radius: 2px;
    background: var(--purple-color);
    opacity: 0.2;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;

    &.slick-active {
      opacity: 1;
    }
  }

  button {
    display: none;
  }
}

@media (max-width: 991px) {
  .cs_mobile_hide {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .cs_mobile_show {
    display: none !important;
  }
}

@keyframes slider-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}