/*--------------------------------------------------------------
 01.  Google Fonts Integration
----------------------------------------------------------------*/
/* Start Sora */

@font-face {
  font-family: 'Sora';
  src: url('../fonts/Sora/Sora-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Start DM Sans */
@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}