/*--------------------------------------------------------------
02. Color Variable
----------------------------------------------------------------*/
:root {
  --white-color: #fff;
  --black-color: #000;
  --heading-color: #1A1A2E;
  --body-color: #788094;
  --accent-color: #013228;
  --border-color: #D8DDE1;
  --theme-color-1: #E3FFCD;
  --theme-color-2: #7341F1;
  --theme-color-3: #FED91F;
  --theme-color-4: #E3FFCD;
  --theme-color-5: #F16615;
  --green-color: #62EC30;
  --gray-color-1: #F5F7FA;
  --gray-color-2: #ECF1F5;
  --heading-font: "Sora", sans-serif;
  --body-font: "DM Sans", sans-serif;
}